{% extends 'base.html' %}

{% block title %} PRODUCTOS | CREATE {% endblock %}

{% block content  %}

<style>
    h1 {
        color: white;
        text-shadow: 
        -3px -3px 0 black, 
        3px -3px 0 black, 
        -3px 3px 0 black, 
        3px 3px 0 black;
    }

    /* Estilo para los encabezados de los campos */
    .form-label {
        color: white !important; /* Cambiar el color de texto a blanco */
        font-weight: bold; /* Ponerlos en negrilla */
        text-shadow: 1px 1px 2px black; /* Resaltar con una sombra */
    }
</style>

<h1>Registro de producto</h1>

<form action="{{ url_for('producto.create') }}" method="post">
    <!-- Campo para Nombre -->
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" required>
    </div>
    <!-- Campo para Descripción -->
    <div class="mb-3">
        <label for=""  class="form-label">Descripcion</label>
        <input type="text" class="form-control" name="descripcion" required>
    </div>
    <!-- Campo para Precio -->
    <div class="mb-3">
        <label for=""  class="form-label">Precio</label>
        <input type="number" class="form-control" name="precio" min="0" step="0.01" required>
    </div>
    <!-- Campo para Stock -->
    <div class="mb-3">
        <label for=""  class="form-label">Cantidad</label>
        <input type="number" class="form-control" name="stock" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Registrar producto</button>
</form>

{% endblock %}