{% extends 'base.html' %}

{% block title %} CLIENTES | CREATE {% endblock %}

{% block content  %}

<style>
    h1 {
        color: white;
        text-shadow: 
        -3px -3px 0 black, 
        3px -3px 0 black, 
        -3px 3px 0 black, 
        3px 3px 0 black;
    }

    /* Estilo para los encabezados de los campos */
    .form-label {
        color: white !important; /* Cambiar el color de texto a blanco */
        font-weight: bold; /* Ponerlos en negrilla */
        text-shadow: 1px 1px 2px black; /* Resaltar con una sombra */
    }
</style>

<h1>Registro de cliente</h1>

<form action="{{ url_for('cliente.create') }}" method="post">
    <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" required>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">CI/NIT</label>
        <input type="text" class="form-control" name="ci_nit" required>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" name="email" required>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Teléfono</label>
        <input type="number" class="form-control" name="telefono" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Registrar cliente</button>
</form>

{% endblock %}