{% extends 'base.html' %}

{% block title %} CLIENTES | EDIT {% endblock %}

{% block content  %}

<style>
    h1 {
        color: white;
        text-shadow: 
        -3px -3px 0 black, 
        3px -3px 0 black, 
        -3px 3px 0 black, 
        3px 3px 0 black;
    }

    /* Estilo para los encabezados de los campos */
    .form-label {
        color: white !important; /* Cambiar el color de texto a blanco */
        font-weight: bold; /* Ponerlos en negrilla */
        text-shadow: 1px 1px 2px black; /* Resaltar con una sombra */
    }
</style>

<h1>Actualizacion de cliente</h1>

<form action="{{ url_for('cliente.edit',id=cliente.id) }}" method="POST">
    <div class="mb-3">
        <label for=""  class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" value="{{cliente.nombre}}" required>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">CI/NIT</label>
        <input type="text" class="form-control" name="ci_nit" value="{{ cliente.ci_nit }}" required>
    </div>
    <div class="mb-3">
        <label for=""  class="form-label">Correo Electronico</label>
        <input type="email" class="form-control" name="email" value="{{cliente.email}}" required>
    </div>
    <div class="mb-3">
        <label for=""  class="form-label">Telefono</label>
        <input type="number" class="form-control" name="telefono" value="{{cliente.telefono}}" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Actualizar cliente</button>
</form>

{% endblock %}